<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="save" content="history">
    <title>创研中心数据中台</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/colResizable.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/selfy.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}" rel="stylesheet">


    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/colResizable-1.5.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap-table.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap-table-zh-CN.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap-datepicker.min.js')}}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">



</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">数据中台</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/database_manager">数据库管理 <span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/">问答系统测试</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                爬虫
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/xian_edu_spyder">西安市教育局</a>
                        <a class="dropdown-item" href="#">阳光高考</a>
                        <a class="dropdown-item" href="/zhihu_activities">知乎用户动态</a>
                        <a class="dropdown-item" href="/zhihu_qas">知乎问题回答</a>
                    </div>
                </li>

            </ul>
            <ul class="navbar-nav ml-0">
                <li class="nav-item ">
                    <a class="nav-link" href="/help" tabindex="-1" aria-disabled="true">帮助</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block database_manager %}
        <h3 class="mt-5">官方新闻----------------------------------------------------------------------------------------</h3>
        <div class="row mt-3">
            {% for site_name,site_item in official_news.items() %}
            <div class="col">
                <div class="card">
                    <h5 class="card-header"><img src="{{site_item['favicon']}}" width="25"><a href="{{site_item['homepage']}}" class='ml-1'>{{site_name}}</a></h5>
                    <div class="card-body" style="height:370px; overflow-y: scroll">
                        {% for part_name,part_lst in site_item['result'].items() %}
                        <p><button type="button" class="btn btn-outline-dark btn-sm mt-2" disabled>{{part_name}}</button></p>
                        {% for part_item in part_lst %}
                        <h6 id="list-item-1" style="text-align:left"><a href="{{part_item['article_url']}}">{{'-'.join(part_item['post_date'].split('-')[1:])}}：{{part_item['title']}}</a></h6>
                        {% endfor %} {% endfor %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <h3 class="mt-5">门户新闻----------------------------------------------------------------------------------------</h3>
        <div class="row mt-3">
            {% for site_name,site_item in menhu_news.items() %}
            <div class="col">
                <div class="card">
                    <h5 class="card-header"><img src="{{site_item['favicon']}}" width="25"><a href="{{site_item['homepage']}}" class='ml-1'>{{site_name}}</a></h5>
                    <div class="card-body" style="height:370px; overflow-y: scroll">
                        {% for part_name,part_lst in site_item['result'].items() %}
                        <p><button type="button" class="btn btn-outline-dark btn-sm mt-2" disabled>{{part_name}}</button></p>
                        {% for part_item in part_lst %}
                        <h6 id="list-item-1" style="text-align:left"><a href="{{part_item['article_url']}}">{{'-'.join(part_item['post_date'].split('-')[1:])}}：{{part_item['title']}}</a></h6>
                        {% endfor %} {% endfor %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
    </div>
    {% block crud_result %} {% endblock %}

</body>

</html>